body {
  font-family: "Poppins", sans-serif;
}


.top-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'Poppins';
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

.input.short {
  width: 30%;
}

.top-row .add-btn {
  height: 30px !important;
  position: absolute;
  width: 30px !important;
  background: #3D3D3D !important;
  color: white !important;
  font-size: 38px !important;
  border: none !important;
  border-radius: 50% !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}


.plus-icon {
  margin-top: -2px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 24px;
}

.submit-btn {
  flex: 1;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.reset-btn {
  background-color: #AAA69F;
  color: black;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
